.delivery-container{
    background-image: url("https://i.ibb.co/jMQjZ06/delivery.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    padding-top: 120px;
    margin: 100px auto;
   
}
.delivery{
    width: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 8px;
    padding: 40px;
    margin-left: auto;
    margin-right: 80px;
    
    
}

