.farm-header-title {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.title-hr{
    width: 5%;
    
    background-color: blue;
    margin: auto;
}
.farm-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:80px 40px ;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}
.farm-title{
    width: 450px;
}
.farm-title{
    margin-bottom: 25px;
}
.farm-year{
    width: 350px;
    text-align: center;
}
.farm-year-2020,.farm-year-2021{
    border: 1px solid rgb(213, 212, 212);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 50%;
    margin:-20px auto;
    
    
}
.farm-year-2021{
    width: 60%;
    height: 180px;
    border: 1px solid rgb(10, 154, 92);
    font-size: 25px;
}
.farm-year-2020{
    font-size: 25px;
}

.farm-img{
    width: 450px;
    
}
.farm-img img{
    width: 100%;
    border-radius: 10px;
}


/* responsive design for mobile device */
@media only screen and (max-width:688px) {
  
    .farm-header-title {
        margin-top: 100px;
    }
    .title-hr{
        width: 15%;
        
        background-color: blue;
        margin: auto;
    }
    .farm-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
        margin:40px 14px ;
    }
    .farm-text-container{
        order: 3;
    }
    .farm-year{
        order: 2;
    }
    .farm-title{
        width: 100%;
    }
    .farm-img{
        width: 100%;
        order: 1;
    }
    
}